.background {
    position:fixed;
    left:32px;
    top:32px;
    right: 32px;
    bottom: 32px;
    width: 1095px;
    height: 720px;
    border-radius: 10px;
    background-image: radial-gradient(circle at 49% 50%, #1b2d42, #000000);
}

.left-container-background {
    border: #979797 solid;
    border-width: 0px 2px 0px 0px;
    background-color: rgba(216, 216, 216, 0.2);
    position: absolute;
}

.control-container-right {
    border: #979797 solid;
    border-width: 0px 0px 2px 0px;
    background-color: rgba(216, 216, 216, 0.2);
}

.control-container-left {
    border: #979797 solid;
    border-width: 0px 0px 2px 0px;
}

.drum-container {

}

.row {
    margin: 0;
    height: 33%;
}

.container {
    padding: 0;
    margin: 0;
}

.value-cell {
    box-sizing: content-box;
    padding: 8px;
    width: 109px;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(89, 125, 160, 0.56);
}

.indicator {
    cursor: pointer;
}

.play-button {
    content: url("../img/play@2x.png");
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}
.play-button:hover {
    opacity: 0.75;
}

.play-button:active {

}

.play-button-active-toggled {
    content: url("../img/stop@2x.png");
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.play-indicator {
    width: 13px;
    height: 13px;
    border: #9b9b9b solid;
    border-radius: 7px;
    margin-top: 5px;
}

.play-indicator-active-toggled {
    width: 13px;
    height: 13px;
    border: #9b9b9b solid;
    border-radius: 7px;
    margin-top: 5px;
    background-color: #9b9b9b;
}

.drum-cell-dot {
    width: 13px;
    height: 13px;
    border: #bfff7a solid;
    border-radius: 7px;
    margin-top: 5px;
}

.drum-cell-dot-active-toggled {
    width: 13px;
    height: 13px;
    border: #bfff7a solid;
    border-radius: 7px;
    margin-top: 5px;
    background-color: #bfff7a;
}

.drum-cell {
    width: 35px;
    height: 45px;
    border: #597da0 solid;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: background-color .2s;
    cursor: pointer;
}

.drum-cell-active-toggled {
    width: 35px;
    height: 45px;
    border: #597da0 solid;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: background-color .2s;
    cursor: pointer;
    background: #597da0;
}

.drum-cell:hover {
    background-color: #0c5460;
}

.drum-cell:active {
    background-color: #597da0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.up-indicator {
    margin-bottom: -10px;
}

.down-indicator {
    margin-top: -10px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #909090;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #d8d8d8;
    -webkit-transition: .2s;
    transition: background-color .2s;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #ffffff;
}

.slider::-webkit-slider-thumb:active {
    background-color: #ffffff;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.record-button {
    color: #ff4058;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    border: 2px solid #ff4058;
    padding-top: -10px;
    -webkit-transition: .2s;
    transition: background-color .2s;
    cursor: pointer;
}

.record-button:hover {
    color: #ffffff;
    background-color: #ff4058;
}

.record-button:active {
    color: #ffffff;
    background-color: #ff4058;
}

.track-row {
    height: 80px;
}

.play-indicator-row {
    margin-top: 20px;
    height: 20px;
}

.add-row {
    height: 80px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:32px;
    top:32px;
    right: 32px;
    bottom: 32px;
    width: 1095px;
    height: 720px;
    border-radius: 10px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    /*background-color: #083038;*/
    background-color: #3c444e;
    padding: 20px;
    margin-left: 303px;
    margin-top: 166px;
    border: 1px solid #07262d;
    border-radius: 10px;
    width: 520px;
    height: 420px;
}

.close {
    position: absolute;
}

.spinner-container {
    width: 110px;
    height: 110px;
    background-color: #ff273c;
    border-radius: 55px;
    border: 10px solid #ff273c;
    -webkit-transition: .2s;
    transition: background-color .2s;
    cursor: pointer;
}

.spinner-container-record-toggled {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.spinner-container-play-toggled {
    padding: 20px;
    background-color: #bfff7a;
    content: url("../img/play-white@2x.png");
    border-radius: 55px;
    border: 10px solid #bfff7a;
}

.spinner-container-text {
    font-size: 25px;
}

.spinner-row {
    margin-top: 40px;
    box-sizing: content-box;
}

.modal-button {
    background-color: rgba(89, 125, 160, 0.56);
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.modal-bottom-button-container {
    margin-bottom: 20px;
}

.hide {
    /*opacity: 0.0;*/
    visibility: hidden;
}

.show {
    /*opacity: 1.0;*/
    visibility: visible;
    display: inherit;
}

.remove {
    display: none;
}

h1 {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
}

p {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: auto;
}

p.record-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

@media(min-width:576px){
    .container {
        max-width: 1280px;
    }
}
@media(min-width:768px){
    .container {
        max-width: 1280px;
    }
}
@media(min-width:992px){
    .container {
        max-width: 1280px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1280px;
    }
}